/*
ICONS

Mate: \01F9C9 (https://emojiterra.com/es/mate/)
Argentina: \01F1E6 \01F1F7 (https://emojiterra.com/es/bandera-argentina/)


*/

.priceBadge {
  display: inline-block;
  padding: 3px 7px !important;

  background: black;
  border-radius: 3px;

  color: white;
}

.priceBadge::before {
 content: '\01F1E6 \01F1F7';
}

.c-price {
  font-size: 15px !important;
}