/*
* ICONS
*
* Mate: \01F9C9 (https://emojiterra.com/es/mate/)
* Empanada: https://emojipedia.org/dumpling/
* Argentina: \01F1E6 \01F1F7 (https://emojiterra.com/es/bandera-argentina/)
*/

.price-regular,
.price-discount {
  /* color: #d9f81d !important;
  background-color: black !important;
  border-radius: 3px !important;
  padding: 0 3px !important;
  box-shadow: 0 0 0 1px #d9f81d !important; */
}

.price-discount {
  /* opacity: 0.5 !important; */
  text-decoration: line-through !important;
}

.priceWithTaxes {
  /* cursor: not-allowed !important; */
}

/* PlayStation */
.playstation--grid .priceWithTaxes {
  font-size: 16px !important;
}

@media screen and (max-width: 1366px) {
  .playstation--grid .priceWithTaxes {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1919px) {
  .playstation--grid .priceWithTaxes {
    font-size: 15px !important;
  }
}
